#!/bin/bash

ARGOCD_SERVER_NAME="$(pass show argo/server)"
CR_PAT="$(pass show ghcr/pat)"

if [ -f ~/.githooks/coveralls.gpg ]; then
  COVERALLS_REPO_TOKEN="$(gpg -d -q "$HOME"/.githooks/coveralls.gpg)"
  export COVERALLS_REPO_TOKEN
fi
ANSIBLE_VAULT_PASSWORD_FILE=/etc/ansible/vault
PIPENV_VENV_IN_PROJECT=1

export ANSIBLE_VAULT_PASSWORD_FILE
export ARGOCD_SERVER_NAME
export CR_PAT
export PIPENV_VENV_IN_PROJECT
