__snapshot__/
.venv/
.gnupg/
*.xml
.values.yaml
.vscode/
_build
.venv/
reflog
*.tgz
*.xml
.debug
.debug/
.gnupg/
.values.yaml
.venv/
.vscode/
__snapshot__/
__snapshot__/
_build
certs/
reflog
secrets
venv/
