[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
gitpython = "*"
pipenv = "*"
pre-commit = "*"

[dev-packages]
myst-parser = {extras = ["linkify"], version = "*"}
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinxemoji = "*"
version-query = "*"
